// Colors
$red = #F21200
$borderColor = #D9D9DE

// Fonts
@font-face {
  font-family: Gotham Pro
  font-style: normal
  font-weight: 400
  src: url('/assets/fonts/GothamPro.woff2') format('woff2')
}

@font-face {
  font-family: Alice
  font-style: normal
  font-weight: 400
  src: url('/assets/fonts/Alice.woff2') format('woff2')
}

//Mixins
h1() {
  font-family: Alice
  font-style: normal
  font-weight: normal
  font-size: 48px
  line-height: 125%
  @media only screen and (max-width 768px) {
    font-size: 26px
  }
}

// Styles
*
  margin: 0
  padding: 0
  outline: none

body
  font-family: Gotham Pro

.header
  height: 100px
  width: 100%
  display: flex
  justify-content: center
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07)
  &__logo
    position: absolute
    left: 0
  &__info
    display: flex
    align-items: center
    margin-left: auto
    margin-right: auto
  &__item
    display: inline-flex
    align-items: center
    font-size: 16px
    line-height: 14px
    color: #000000
    margin-right: 40px
    text-decoration: none
    &:last-child
      margin-right: 0
    img
      margin-right: 12px

.section-main
  width: 100%
  height: 770px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  background-image: url("/assets/img/mainbg2.jpg")
  background-size: cover
  &__title
    h1()
    text-align: center
    color: #ffffff
    margin-bottom: 30px
  &__choice
    font-size: 24px
    color: #ffffff
    margin-bottom: 60px
  &__city-item
    font-size: 24px
    color: #c5c5c5
    border: none;
    border-bottom: 2px solid transparent
    background-color: transparent;
    cursor: pointer
    transition: 0.3s
    &:hover
      color: $red
    &.active
      color: $red
      border-bottom: 2px solid $red
  &__search
    position: relative
    width: 768px
    max-width: 100%
  &__input
    width: 100%
    height: 60px
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 150%
    border: 1px solid $borderColor
    padding: 18px 210px 18px 24px
    box-sizing: border-box
    border-radius: 75px
  &__button
    position: absolute
    right: 0
    width: 205px
    height: 60px
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 14px
    color: #fff
    background-color: $red
    border: none
    border-radius: 82px
    cursor: pointer
    transition: filter 0.3s
    &:hover
      filter: brightness(.9)

.section-zone
  height: 849px
  display: flex
  align-items: center
  justify-content: flex-end
  &__text-block
    width 410px
    max-width: 100%
    margin-right: 140px
  &__title
    h1()
    color: #000000
    margin-bottom: 20px
  &__text
    font-family: Gotham Pro
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 150%
    color: #000000
  &__image
    max-width: 50%
    img
      display: block
      box-shadow: 0px 4px 20px rgba(205,179,153,0.5)
      width: 100%

.section-cooking
  position: relative
  height: 700px
  display: flex
  align-items: center
  background-color: rgba(255,255,255,.3)
  &__container
    width: 1200px
    max-width: 100%
    margin: 0 auto
  &__video
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    z-index: -1
  &__title,
  &__text
    width: 524px
    max-width: 100%
  &__title
    h1()
    margin-bottom: 20px
    color: #000000
  &__text
    font-family: Gotham Pro
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 150%
    color: #000000


.section-chiefs
  position: relative
  padding: 120px 0
  // height: 620px
  box-sizing: border-box
  background-color: #FAF7F5
  &__container
    position: relative
    width: 1200px
    max-width: 100%
    margin: 0 auto
  &__title
    h1()
    text-align: left
    margin-bottom: 60px
  &__slider-controls-top
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  &__slider-controls-bottom
    display: none;
    justify-content: space-between;

.slider
  max-width: 100%;
  overflow: hidden;
  padding: 20px 0;
  .slick-list
    overflow: visible !important;
  &__container
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #fff;
    min-height: 480px;
    padding: 144px 132px 160px 255px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    margin: 0 140px
  &__item
    // width: 1100px !important
    // max-width: 100%
    position: relative
  &__title
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    color: #F21200
    margin-bottom: 10px
  &__name
    font-family: Gotham Pro
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 125%
    color: #000000
    margin-bottom: 24px
  &__text
    font-family: Gotham Pro
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 150%
    color: #000000
  &__img
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-5%, -50%);
    width: 327px;
    max-width: 100%;
    height: 412px;
    border-radius: 10px;
    overflow: hidden;
    img
      display: block
      width: 100%
      height: auto
      object-fit: cover
  &__prev
    margin-right: 10px
  &__prev,
  &__next
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $red;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    &:hover
      background-color $red
      svg path
        stroke: white


.popup
  position: fixed
  width: 740px
  height: 440px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  display none
  justify-content: center
  align-items: center
  flex-direction: column
  background-color: #fff
  padding: 0 80px
  box-sizing: border-box
  z-index: 10
  &__close-btn
    position: absolute
    top: 40px
    right: 40px
    border: none
    background-color: transparent
    cursor: pointer
  &__text
    font-family: Gotham Pro
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 125%
    color: #000000
    margin-bottom: 30px
    text-align: center
  &__link
    color: $red
    text-decoration: none
  &__link-btn
    display: inline-flex
    justify-content: center
    align-items: center
    width: 227px
    height: 59px
    font-family: Gotham Pro
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 14px
    background-color: $red
    text-decoration: none
    color: #fff
    border-radius: 81px

.overlay
  display: none
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(0, 0, 0, 0.5)

.footer
  background-color: #000
  color: #fff
  height: 280px
  padding: 80px 0
  &__heading
    font-family: Alice
    font-style: normal
    font-weight: normal
    font-size: 24px
    line-height: 125%
    margin-bottom: 20px
  &__down
    display: flex
    justify-content: center
    margin-top: 60px
  &__upper
    display: flex
    justify-content: center
    & > *
      width: calc(100% / 3 - 200px)
      max-width: 100%
      margin-right: 60px
      &:last-child
        margin-right: 0
  &__logos
    img
      &:first-child
        margin-right: 40px
  &__addresses
    ul
      list-style: none
      li
        font-family: Gotham Pro
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 35px
  &__social-item
    color: transparent
    &:first-child
      margin-right: 24px

.popup-rests
  display none
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1064px;
  max-width: 100%;
  background-color: #fff;
  padding: 100px 60px 20px;
  box-sizing: border-box;
  z-index: 10;
  overflow-y: auto;
  &__title
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;
  &__btn-close
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
  &__container
    display: flex;
    flex-wrap: wrap;
    justify-content: center
    margin: -10px -10px 0;
  &__item
    display: flex;
    flex-direction: column;
    width: calc(100% / 4 - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #D9D9DE;
    box-sizing: border-box;
    border-radius: 6px;
    text-decoration: none;
    color: #333333;
    text-align: center
  &__logo
    margin-bottom: 14px
    height: 80px;
    img
      display: block;
      width: 100%;
      max-height: 80px;
      margin: auto;
      object-fit: contain;
  &__delivery-text
    font-size: 16px;
    margin-bottom: 20px
    line-height: 23px;
  &__btn
    width: 180px;
    height: 50px;
    border: 1px solid #E5271B;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 16px;
    margin-top: auto;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s;
    &:hover, &:active
      background-color: #E5271B;
      color: #fff





// mobile
@media only screen and (max-width: 768px)
  .mobile-none
    display: none !important

  .header
    height: 60px
    &__logo
      img
        height: 84px
    &__info
      margin-right: 15px

  .section-main
    height: auto !important
    min-height: calc(100vh - 60px)
    &__title
      margin-bottom: 50px
    &__search
      padding: 0 15px
      box-sizing: border-box
    &__input
      display: block
      margin-bottom: 20px
      padding: 20px
    &__button
      position: relative
      display: block
      width: 100%

  .section-zone
    height: auto
    flex-direction: column-reverse
    &__image
      max-width 100%
      img
        display: block
        max-width: 100%
        height: auto
    &__text-block
      margin: 40px 0
      box-sizing: border-box
      padding: 0 15px
      box-sizing: border-box

  .section-chiefs
    padding: 60px 15px
    &__title
      margin-bottom: 20px
    &__slider-controls-bottom
      display: flex;

  .footer
    display: flex
    justify-content: center
    height: 156px
    padding: 0 0 20px 0
    &__down
      display: flex
    &__upper
      padding: 0 15px
      justify-content: space-between
      align-items: center
      width: 100%
      & > *
        width: auto
        margin-right: 0
    &__logos
      img
        height: auto
        &:first-child
          width: 68px
          margin-right: 24px
        &:last-child
          width: 93px
  .popup
    max-width: 100%
    padding: 15px
    height: 100vh
    word-spacing: 0px;
    font-size: 20px;
  .popup-rests
    left: 0;
    top: 0;
    height: 100vh;
    transform: none;
    padding: 100px 15px;
    &__btn-close
      right: 15px;
    &__container
      margin: -10px -15px 0;
      justify-content: flex-start;
    &__item
      min-width: 50%;
      margin: 0;
      height: auto;
      border-radius: 0;
    &__delivery-text
      font-size: 14px;
      margin: 0;
    &__btn
      display: none

@media only screen and (max-width: 1000px)
  .slider
    &__container
      padding: 30px 0 30px 60px
      min-height: auto;
      margin: 0 10px 0 30px;
    &__img
      height: 80%;
      width: auto;
      transform: translate(0%, -50%);
      img
        height: 100%;
        width: auto;
    &__title
      font-size: 14px
      margin-bottom: 8px
    &__name
      font-size: 16px
      margin-bottom: 0
    &__text
      display: none

// jquery ui
.ui-autocomplete
  margin: 0
  position: absolute
  left: 0
  right: 0
  top: 0
  transform: translateY(60px)
  border: 1px solid #D9D9DE
  border-radius: 20px
  padding: 15px
  box-sizing: border-box
  z-index: 1
  @media only screen and (max-width: 768px)
    &
      width: calc(100% - 30px) !important
      left: 15px

.ui-menu-item-wrapper
  width: 100%
  padding: 15px !important
  display: flex
  min-height: 40px
  align-items: center
  box-sizing: border-box


.ui-menu-item-wrapper.ui-state-active
  border: 1px solid transparent
  background-color: transparent
  color: #f21200